### Gradle ###
.gradle/
build/
**/build/
# Gradle Wrapper 파일은 깃허브에 올라가야 팀원들이 빌드할 수 있으므로 예외 처리(!)
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
**/out/
!**/src/main/**/out/
!**/src/test/**/out/

### STS / VS Code ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
.vscode/

### OS & Logs ###
# Mac OS에서 자동으로 생성되는 숨김 파일 방지
.DS_Store
*.log

### Environment / Secrets ###
.env

### Docker Volumes ###
postgres-data/
redis-data/

### Misc ###
HELP.md

application-secret.yaml